.d1 img{
    height: 50px;
    width: 60px;
    margin-bottom: 120px;
    cursor: pointer;
}
.d2 img{
    height: 50px;
    width: 60px;
    margin-bottom: 120px;
    cursor: pointer;
}
.d3 img{
    height: 50px;
    width: 60px;
    margin-bottom: 120px;
    cursor: pointer;
}
.d4 img{
    height: 50px;
    width: 60px;
    margin-bottom: 120px;
    cursor: pointer;
}

